.git
.gitignore
**/__pycache__
**/*.py[cod]
**/*.so
**/*.pyd
.env
.venv
server/.venv
server/app/static
server/.pytest_cache
server/.ruff_cache
web/node_modules
web/.svelte-kit
web/.pnpm-store
web/pnpm-lock.yaml.*
data/**
config/**/*.bak
dist
build
