<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message />
                <throwableClassName>
                    <fieldName>throwable_class</fieldName>
                </throwableClassName>
                <throwableMessage>
                    <fieldName>throwable_message</fieldName>
                </throwableMessage>
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
                <mdc />
            </providers>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN"/>
    <logger name="io.ktor" level="WARN"/>
    <logger name="io.ktor.server" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.koin" level="WARN"/>
    <logger name="org.cef" level="WARN"/>
    <logger name="dev.datlag.kcef" level="WARN"/>
    <logger name="eu.kanade.tachiyomi.network.interceptor.CloudflareInterceptor" level="WARN"/>
    <logger name="mangarr.tachibridge.loader.BytecodeEditor" level="WARN"/>
    <logger name="mangarr.tachibridge.loader.ExtensionLoader" level="WARN"/>
    <logger name="mangarr.tachibridge.config.ConfigManager" level="WARN"/>
    <logger name="mangarr.tachibridge.runtime.BridgeCommandRunner" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
