PUBLIC_CONVEX_URL=http://127.0.0.1:3210
CONVEX_SELF_HOSTED_URL=http://127.0.0.1:3210
CONVEX_ADMIN_KEY=
CONVEX_SELF_HOSTED_ADMIN_KEY=
MANGARR_SESSION_COOKIE_NAME=mangarr_session
MANGARR_WORKER_URL=http://worker:3212
MANGARR_WORKER_SERVICE_SECRET=
